<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NFLCrime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3CFA1901E9C3E6A00F0FFA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3CFA1A91E9C3E6A00F0FFA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3CFA1B41E9C3E6A00F0FFA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
